@charset "UTF-8";

/*#region BASICS*/

html {
    font-size: 150%;
    background-color: white;
}
body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1200px;
    background-color: #e8eef7;
}
main:not(footer) {
    justify-items: center;
    margin: .5em 1em;
}
h1 {
    color: #213961;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    text-align: center;
    padding: 10px;
}
h2 {
    color: #3b65a6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
}
.Work {
    text-align: left;
    justify-self: left;
}
h3 {
    color: #213961;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 1em;
}
footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    color: white;
    background-color: #213961;
    padding: 5px 0;
    margin: -1em 0;
}
.fluff {
    background-color: white;
    margin: 30px 20vw;
    padding: 15px;
    border: #daa520 double 10px;
    border-radius: 60px 60px 0 60px;
}
#form {
    font-family: sans-serif;
}
/*#endregion*/
/*#region TABLE*/

#styles th {
    color: #213961;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#styles td {
    color: #3b65a6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    max-width: fit-content;
    text-align: center;
}
#styles caption {
    color: #213961;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 250px 20px;
    border-radius: 1em;
}
#styles table {
    justify-self:  center;
    align-items: center;
    margin-bottom: 40px;
    background-color: #21396126;
    padding: 10px 10px 10px 10px;
    border: #daa520 double 6px;
    background-clip: border-box;
    border-radius: 1em;
}
#styles img {
    width: 10vw;
    height: 10vw;
}

/*#endregion*/
/*#region BUTTONS & LINKS*/

.buttons a {
    border: #daa520 solid 4px;
    background: #e3c786;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: fit-content;
}
.buttons :hover {
    background: white;
    border: #e3c786 solid 4px;
}
:link, :visited :not(.buttons){
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
:link, :visited {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:not(.buttons a):hover {
    color: #3b65a6;
}
#form a {
    color: #3b65a6;
}
#form a:hover {
    color: #daa520;
}
/*#endregion*/
/*#region HEADER*/

.flex {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: #3b65a6;
    margin: 0;
    padding: 7px;
}
.flex .logo {
    margin-right: auto;
}
.flex a {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    padding: 3px 20px ;
}
.flex :not(#logo) a:hover {
    background-color: #fff;
    color: #3b65a6;
    border: solid #e3c786 .3em;
}
.flex #logo {
    justify-content: left;
    text-align: center;
}

/*#endregion*/
/*#region IMAGES*/

#logo {
    height: 2vw;
}
#hero {
    margin: -.5em -1em;
    width: 100vw;
    max-width: 1200px;
}
#comms img {
    width: 20%;
}
#nav2 img {
    width: 90%;
}
#doranthumbsup img {
    width: 20vw;
}
#dorannom {
    width: 20vw;
}
#contactgrid img:not(#dorannom) {
    width: 70px;
}
#Feat img, #Phys_WIP img, #Phys_Free img, #Dig_WIP img, #Dig_Manga img, #Dig_Free img, #Cam_Free img, #Cam_Study img {
    width: 30%; 
}
#Feat img {
    width: 30vw;
    margin-top: 20px;
}
#Feat img:hover {
    cursor: pointer;
}
.Tabs img:hover {
scale: 1.3;
}
#Recents img{
    max-width: 70%;
}
#recentsgrid {
    overflow: hidden;
}

/*#endregion*/
/*#region GRIDS*/

#nav2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    padding: 10px;
}
#comms {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
#recentsgrid {
    display: grid;
    text-align: center;
    column-gap: 10px;
    padding: 20px;
    grid-template-areas: 
    "lahar1 sketch1 doran"
    "clahar1 csketch1 cdoran"
    ;
}
#aboutgrid {
    display: grid;
    column-gap: 20px;
    grid-template-rows: 70px 70px .7fr 70px 1fr 70px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "aboutme aboutme aboutme"
    "WIA . ."
    "introduction BG doranthumbsup"
    "art . ."
    "HID commissions direction"
    ". button .";
}
#contactgrid {
    display: grid;
    grid-template-rows: 5em 1fr 70px 70px 6em 5em;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    grid-template-areas: 
    ". . Contact . . "
    ". dorannom dorannom dorannom ."
    "Discord Twitter TikTok Instagram Email"
    "discord_username twitter_username tiktok_username instagram_username email_username"
    ". currently currently currently ."
    ". buttons buttons buttons ."
    ;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    align-items: flex-end;
    margin: 5%;
}
#Feat {
    display: grid;
    grid-template-columns:  repeat(2, 40vw);
    max-width: 1200px;
    padding: 10px 0px;
    justify-self: center;
    text-align: center;
}

    /*#region GRID AREAS*/

    /*RECENTS*/

    #lahar1 {
        grid-area: lahar1;
    }
    #clahar1 {
        grid-area: clahar1;
    }
    #sketch1 {
        grid-area: sketch1;
    }
    #csketch1 {
        grid-area: csketch1;
    }
    #doran {
        grid-area: doran;
    }
    #cdoran {
        grid-area: cdoran;
    }

    /*ABOUT ME*/

    #aboutme {
        grid-area: aboutme;
    }
    #WIA {
        grid-area: WIA;
    }
    #introduction {
        grid-area: introduction;
    }
    #BG {
        grid-area: BG;
    }
    #doranthumbsup {
        grid-area: doranthumbsup;
        align-content: center;
    }
    #art {
        grid-area: art;
    }
    #HID {
        grid-area: HID;
    }
    #commissions {
        grid-area: commissions;
    }
    #direction {
        grid-area: direction;
    }
    #button {
        grid-area: button;
        text-align: center;
    }

    /*CONTACT*/

    #Contact {
        grid-area: Contact;
    }
    #dorannom {
        grid-area: dorannom;
        justify-self: center;
        align-self: center;
    }
    #Discord {
        grid-area: Discord;
    }
    #Twitter {
        grid-area: Twitter;
    }
    #TikTok {
        grid-area: TikTok;
    }
    #Instagram {
        grid-area: Instagram;
    }
    #Email {
        grid-area: Email;
    }
    #discord_username {
        grid-area: discord_username;
    }
    #twitter_username {
        grid-area: twitter_username;
    }
    #tiktok_username {
        grid-area: tiktok_username;
    }
    #instagram_username {
        grid-area: instagram_username;
    }
    #email_username {
        grid-area: email_username;
    }
    #currently {
        grid-area: currently;
        text-align: center;
    }
    #contactgrid .buttons {
        grid-area: buttons;
        justify-self: center;
        align-self: center;
    }


    /*#endregion*/
    /*#region GRID STYLE*/

    #aboutgrid p {
        border: #21396180 solid 5px;
        box-shadow: 4px 4px 4px #213961,  8px 8px 8px #3b65a6;
        border-radius: 20px;
        padding: 20px;
        background-color: white;
    }
    #contactgrid p:not(div#currently p){
        list-style: none;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        font-size: 80%;
    }
    #currently {
        align-self: center;
        background-color: white;
        border: dashed #213961 4px;
        border-radius: 10px;
        margin: 1em;
        padding: 0px;
    }

    /*#endregion*/
/*#endregion*/    
/*#region FORM*/

form {
    margin: 15px 10px;
    width: fit-content;
    padding: 10px;
    border: #21396180 solid 5px;
    box-shadow:
    -4px 0 0 0 #213961,
    4px 0 0 0 #213961,
    0 -4px 0 0 #213961,
    0 4px 0 0 #213961,
    7px 0 0 0 #e6e9ed inset,    
    0 7px 0 0 #e6e9ed inset,
    -7px 0 0 0 #e6e9ed inset,
    0 -7px 0 0 #e6e9ed inset;
    background-color: white;
}

#form input[type="text"]{
    margin-left: 10px;
    box-shadow:
    -4px 0 0 0 #213961,
    4px 0 0 0 #213961,
    0 -4px 0 0 #213961,
    0 4px 0 0 #213961;
    width: fit-content;
    padding: 0px;
    background-color: white;
}
#form label, input {
    color: #3b65a6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    max-width: fit-content;
    text-align: center;
}

/*#endregion*/
/*#region MISC*/

p.warning {
    font-weight: bold;
    font-size: 80%;
}
#nav2 p {
    display: none;
}
.Tabs {
    text-align: center;
}
.Tabs h3 {
    justify-self: center;    
}
.tabcontent p {
    padding: 10px;
    background-color: white;
    border: dashed #213961 4px;
    border-radius: 10px;
    margin: 1em 5em;
    max-width: fit-content;
    justify-self: center;
}

/*#endregion*/
/*#region BG*/

#nav2 {
    max-width: 1200px;
    margin: 0 -1em;
    justify-self: center;
}
#comms {
    background-image: url(Pictures/Overlays/comms_bg.jpg);
    /*From Vecteezy*/
    background-size: cover;
    background-blend-mode:luminosity;
    background-color: #3b65a6;
    max-width: 1200px;
    margin: 0 -1em;
    justify-self: center;
}
#Recents {
    background-image: url(Pictures/Overlays/recents_bg.jpg);
    /*From Vecteezy*/
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.29);
    background-blend-mode: lighten;
    max-width: 1200px;
    margin: 0 -1em;
    justify-self: center;
}
#Phys_WIP, #Phys_Free, #Dig_WIP, #Dig_Manga, #Dig_Free, #Cam_Free, #Cam_Study {
    background-image: url(Pictures/Overlays/Works_bg.jpg);
    /*From Pixabay*/
    background-size: cover;
    background-color: #ffffff50;
    background-blend-mode: lighten;
    margin: -.5em -1em ;
    max-width: 1200px;
    padding-bottom: 1em;
}

/*#endregion*/
/*#region CAPTIONS*/

.content {
    background-color: white;
    padding: 10px;
    margin: 0 5em;
    border: #daa520 solid 10px;
    border-radius: 60px 60px 0 60px;
    font-size: 60%;
}
p.caption {
    background-color: white;
    border: solid #213961 4px;
    border-radius: 10px;
    font-size: medium;
    line-height: 120%;
    padding: 7px;
    margin: 10px;
}

/*#endregion*/
/*#region TABS*/

.tab_title {
    padding-bottom: 20px;
    position: relative;
    font-size: 150%;
    text-align: center;
}
.tab {
    overflow: hidden;
    justify-self: center;
    text-align: center;
}
.tab button {
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
    border-bottom: #3b65a6 solid 5px;
    background-color: white;
    margin: 0 5px 0 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 80%;
}
.tab button:hover {
    background-color: #21396126;
    border-radius: 10px;
    border-bottom: #21396180 solid 6px;
}  
.tabbuttonstyle {
    background-color: #21396180 !important;
    color: white;
    border-bottom: #213961 solid 6px !important;
    padding: 13px !important;
    font-size: 90% !important;
}
.tabcontent {
    animation: fadeEffect .7s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*#endregion*/
/*#region MEDIA QUERY*/

@media screen and (max-width: 800px){
    .flex {
        font-size: 80%;
    }
    #nav2 {
        display: grid;
        grid-template-columns: 1fr 1fr;       grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    #nav2 img{
        width: 30vw;
        padding: 10px;
    }
    #comms {
        display: grid;
        row-gap: 10px;
        grid-template-areas: 
        "merlin tsu"
        "taiga robin";
    }
    #merlin {
        grid-area: merlin;
    }
    #tsu {
        grid-area: tsu;
    }
    #taiga {
        grid-area: taiga;
    }
    #robin {
        grid-area: robin;
    }
    #comms img {
        justify-self: center;
        width: 60%;
    }
    #recentsgrid {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50vw auto;
        column-gap: 10px;
        padding: 20px;
        grid-template-areas: 
        "lahar1 sketch1" 
        "clahar1 csketch1" 
        "doran ."
        "cdoran ."
        ;
    }
    .fluff {
        padding: 20px;
        line-height: 30px;
        margin: 20px;
    }
    #aboutgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, auto);
        justify-items: center;
        grid-template-areas: 
        "aboutme aboutme"
        "WIA . "
        "introduction BG"
        "doranthumbsup doranthumbsup"
        "art . "
        "HID commissions"
        "direction direction"
        "button button";
    }
    #aboutme {
        text-align: center;
    }
    #WIA, #art {
        text-align: left ;
        justify-self: left;
    }
    #doranthumbsup {
        justify-self: center;
        align-self: center;
    }
    #direction, #button {
        justify-items: center;
    }
    #button {
        margin: 30px;
    }
    #contactgrid {
        display: grid;
        grid-template-rows: 5em repeat(4, 70px) 5em 5em;
        row-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        grid-template-areas: 
        ". Contact ."
        "Discord dorannom Twitter"
        "discord_username . twitter_username"
        "TikTok Instagram Email"
        "tiktok_username instagram_username email_username"
        "currently currently currently"
        "buttons buttons buttons"
        ;
    }
    #Contact {
        text-align: center;
    }
    .Tabs {
        white-space: nowrap;
        font-size: 80%;
    }
    #styles table {
        scale: .9;
        font-size: 80%;
        margin: -10px 0px;
    }
    #styles caption {
        font-size: 110%;
        margin: 20px 130px;
        padding: 0 7px;
    }
    #Lineart {
        margin-bottom: 20px !important;
    }
    #Feat {
        display: grid;
        grid-template-columns: 1fr;
        margin: -1em;
        text-align: center;
        row-gap: 2em;
    }
    #Feat img {
        width: 50vw;
    }
    footer {
        font-size: 70%;
    }
}
@media screen and (max-width: 500px) {
    #nav2 {
        display: grid;
        row-gap: 10px;
        grid-template: 
        "Works"
        "Featured"
        "WIP"
        "Commission_Me";
    }
    #Works {
        grid-area: Works;
    }
    #Featured {
        grid-area: Featured;
    }
    #WIP {
        grid-area: WIP;
    }
    #Commission_Me {
        grid-area: Commission_Me;
    }
    #nav2 img{
        width: 50vw;
        height: 50vw;
    }
    #comms {
        display: grid;
        padding: 30px 0;
        grid-template-areas: 
        "merlin"
        "tsu"
        "taiga"
        "robin";
        width: 500px;
    }    
    #comms img {
        object-fit: contain;
        min-width: 200px;
        height: 50vw;
    }
    #merlin {
        scale: 1.2;
    }
    #recentsgrid {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        column-gap: 10px;
        grid-template-areas: 
        "lahar1"
        "clahar1"
        "sketch1"
        "csketch1"
        "doran"
        "cdoran"        
        ;
    }
    #recentsgrid img {
        max-width: 40vw;
    }
    #aboutgrid {
        display: grid;
        grid-template-rows: repeat(10, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aboutme"
        "WIA"
        "introduction"
        "BG"
        "doranthumbsup"
        "art"
        "HID"
        "commissions"
        "direction"
        "button";
        margin: 20px;
        justify-items: center;
        font-size: 90%;
        line-height: 1.1em;
    }
    #doranthumbsup img {
        width: 40vw;
        justify-self: center;
        align-self: center;
    }
    #aboutgrid {
        font-size: 85%;
        line-height: 25px;
        text-align: center;
    }    
    #WIA, #art {
        justify-self: center;
    }
    #contactgrid {
        display: grid;
        grid-template-rows: 5em repeat(6, 70px) 10em 5em;
        row-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-template-areas: 
        "Contact Contact"
        "Discord Twitter"
        "discord_username twitter_username"
        "TikTok Instagram"
        "tiktok_username instagram_username"
        "Email dorannom"
        "email_username dorannom"
        "currently currently"
        "buttons buttons"
        ;
    }
    #dorannom {
        width: 25vw;
    }
    #contactgrid img {
        scale: .9;
    }
    .Tabs {
        font-size: 70%;
    }
    .Work {
        justify-self: center;
    }
    .tabcontent p {
        font-size: 90%;
        margin-bottom: 60px;
    }   
    .images {
        display: grid;
        margin: 5%;
        row-gap: 10px;
        justify-items: center;
    }
    .images img {
        min-width: 50vw;
    }
    #styles table {
        scale: .8;
        padding: 10px;
        font-size: 80%;
        margin: -30px -10px;
    }
    #styles caption {
        font-size: 120%;
        margin: 20px 100px;
    }
    #Lineart {
        margin-bottom: 20px !important;
    }
    #styles img {
        width: 20vw;
        height: 20vw;
    }
    footer {
        font-size: 50%;
    }
}
/*#endregion*/
